<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://anime-mandir.blogspot.com/"> Anime-Mandir</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://ani-toons.blogspot.com/"> Ani-Toons</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://telegram.me/anime_complex"> Telegram <i class="fa fa-telegram text-danger"></i></a>
</li>
